*:not(p, h1) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

[data-color-scheme="light"] {
	--font-color: #495057;
	--bg-color: #f8f9fa;
	--accent-color: #4c6ef5;
	--nav-color: #dee2e6;


	.colorSchemeToggleButton {
		border: 4px #212329 solid; 
		background-color: #343a40;
	}
}

[data-color-scheme="dark"] {
	--font-color: #e9ecef;
	--bg-color: #212529;
	--accent-color: #ffd43b;
	--nav-color: #343a40;


	.colorSchemeToggleButton {
		background-color: #5790e6;
		border: 4px #f8f9fa solid; 
	}
}

body {
	color: var(--font-color);
	background-color: var(--bg-color);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	font-size: 1.25rem;
}

a {
	color: inherit;
	opacity: 1;
}

button {
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--accent-color)
}